$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "compass";


/*** Screen size break downs ***/
$break-xxs:400px;
$break-xs: 500px;
$break-sm: 768px;
$break-md: 992px;
$break-lg:1200px;


/** Project related variables */
$projects-per-row-desktop: 3;
$projects-per-row-tablet: 2;
$projects-per-row-phones: 1;
$project-padding: 10px;


@mixin respond-to($media){

    @if $media == xs {
        @media only screen and (min-width: $break-xs + 1) and (max-width: $break-sm) { @content; }
    }

    @else if $media == xxs {
        @media only screen and (max-width: $break-xs) and (min-width: $break-xxs + 1) { @content; }
    }

    @else if $media == xxxs {
        @media only screen and (max-width: $break-xxs) { @content; }
    }

   @else if $media == sm {
        @media only screen and (min-width: $break-sm + 1) and (max-width: $break-md - 1) { @content; }
    }

    @else if $media == md {
        @media only screen and (min-width: $break-md + 1) and (max-width: $break-lg - 1) { @content; }
    }

    @else if $media == lg {
        @media only screen and (min-width: $break-lg) { @content; }
    }

}


/* Space out content a bit */
body {
    padding-top: 20px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 14pt;
    line-height: 20pt;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
nav {

    margin-left: auto;
    margin-right:auto;
    padding: 15px;
    background-color: white;

    /* Logo image */
    div.logo{
        @include respond-to(xxxs) { background:url("../images/Logo-smaller.png") no-repeat left center; }
        @include respond-to(xxs) { background:url("../images/Logo-smaller.png") no-repeat left center; height:50px; }
        @include respond-to(xs) { background:url("../images/Logo.png") no-repeat left center; }
        @include respond-to(sm) { background:url("../images/Logo.png") no-repeat left center; }
        @include respond-to(md) { background:url("../images/Logo.png") no-repeat left center; }
        @include respond-to(lg) { background:url("../images/Logo.png") no-repeat left center; }
        height:70px;
    }

    div.nav-container{
        padding:0;
    }
}

#app{
    margin-top: 80px;
}

ul.navigation-links{
    li{
        display: block;
        float: left;
        @include respond-to(xxxs) { padding:5px; }
        @include respond-to(xxs) { padding:5px; }
        @include respond-to(xs) { padding:10px; }
        @include respond-to(sm) { padding:15px; }
        @include respond-to(md) { padding:15px; }
        @include respond-to(lg) { padding:15px; }
       
    }

   a{
       &:hover{text-decoration:none;}
    }

    @include respond-to(xxxs) {  
        display: block;
        float: left; 
        padding-left:5px;}

    @include respond-to(xxs) {  
        display: block;
        float: left; 
        padding-left:5px;}

    @include respond-to(xs) {  
        display: block;
        float: left; 
        padding-left:5px;}
    @include respond-to(sm) { 
        display: block;
        float: right; }
    @include respond-to(md) { 
        display: block;
        float: right; }
    @include respond-to(lg) { 
        display: block;
        float: right; }

    height: 40px;
    padding-top:10px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    font-family: 'New Gothic MT', sans-serif;
}

a:hover{ text-decoration:none; }

div.section{
    padding-top:50px;
}

div.project-list { 
    width:100%; 
    margin-top:20px;
}

/* Project tiles on the main page */
div.project{
    padding:0;

    div.project-image{
        padding-bottom: 100%;
        background-image:cover;

         &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));
            opacity: .8; 
          }

        span.position{
            position:absolute;
            bottom:24px;
            margin:10px;
            color:white;
            @include respond-to(xxxs) {  font-size: 10pt; }
            @include respond-to(xxs) {  font-size: 10pt; }
            @include respond-to(xs) {  font-size: 12pt; }
            @include respond-to(sm) { font-size: 12pt; }
            @include respond-to(md) { font-size: 12pt;; }
            @include respond-to(lg) { font-size: 12pt; }
        }

        span.employer{
            @include respond-to(xxxs) {  font-size: 10pt; }
            @include respond-to(xxs) {  font-size: 12pt; }
            @include respond-to(xs) {  font-size: 14pt;  }
            @include respond-to(sm) {  font-size: 14pt; }
            @include respond-to(md) {  font-size: 14pt; }
            @include respond-to(lg) {  font-size: 14pt; }
            position:absolute;
            bottom:0;
            margin:10px;
            color:white;
        }
    }

    &:hover{
        div.project-image {
            &:before { background-image: none; }

            span { display: none; }
        }
    }
}

/*Project content details */
div.project-content{

    div.project-banner{
        @include respond-to(xxxs) { padding-bottom:40%; }
        @include respond-to(xxs) { padding-bottom:40%; }
        @include respond-to(xs) { padding-bottom:40%; }
        @include respond-to(sm) { padding-bottom:35%; }
        @include respond-to(md) { padding-bottom:25%; }
        @include respond-to(lg) { padding-bottom:25%; }
        padding-top:70px;
    }

    span{
        &.sub-header { 
            display: block;
            font-weight: bold; 
        }

        margin-top: 15px;
    }

    .project-header { 
        font-size: 18pt; 
    }
}

/* Skill info  on the main page*/
div#skills{
    @include respond-to(xxxs) {  height: 730px; }
    @include respond-to(xxs) {  height: 730px; }
    @include respond-to(xs) {  height: 730px; }
    @include respond-to(sm) {  height: 665px; }
    @include respond-to(md) {  height: 665px; }
    @include respond-to(lg) {  height: 665px; }
    height: 800px;
    margin-top: 10px;
    padding-left:10px;
    position:relative;

    div#download-resume{
        position:absolute;
        @include respond-to(xxxs) {  top:64px; left:10px; }
        @include respond-to(xxs) {  top:64px; left:10px; }
        @include respond-to(xs) {  top:32px; right:10px; }
        @include respond-to(sm) {  top:32px; right:10px; }
        @include respond-to(md) {  top:32px; right:10px; }
        @include respond-to(lg) {  top:32px; right:10px; }
        

    }

    .sunburst {
     position:relative;
     // @include respond-to(xs) { padding-bottom:40%; }
     // @include respond-to(sm) { padding-bottom:35%; }
     // @include respond-to(md) { padding-bottom:25%; }
     // @include respond-to(lg) { padding-bottom:25%; }
    }

    #sequence {
      font-size: x-small;
    }

    #legend, #sequence {
      @include respond-to(xxxs) {  padding: 20px 0 0 3px }
      @include respond-to(xxs) {   padding: 20px 0 0 3px; }
    
    }

    #sequence text, #legend text {
        fill: #fff;

      &.legend-title{ fill: #666666;}
    }

    #explanation, #initial-text {
        position: absolute;
        width: 140px;
        text-align: center;
        @include respond-to(xxxs) { top:55%; left: 32%; }
        @include respond-to(xxs) { top:55%; left: 36%; }
        @include respond-to(xs) {  top: 55%; left: 38%; }
        @include respond-to(sm) {  top: 50%; left: 41%; }
        @include respond-to(md) {  top: 50%; left: 43%; }
        @include respond-to(lg) {  top: 50%; left: 44%; }

        #percentage {font-size:large; font-weight:bold;}
    }
}


/* Contact information on the main page*/

div#contacts{
    padding-left: 10px;

    img.olga-img{
        width: 200px;
    }

    a{
        display: inline-block;
        width: 71px;
        height: 71px;

        &.facebook{
            background:url("../images/facebook_normal.png") no-repeat left center;
            &:hover{
                 background:url("../images/facebook_hover.png") no-repeat left center;
            }
        }

        &.twitter{
            background:url("../images/twitter_normal.png") no-repeat left center;
            &:hover{
                 background:url("../images/twitter_hover.png") no-repeat left center;
            }
        }

         &.linkedin{
            background:url("../images/linkedin_normal.png") no-repeat left center;
            &:hover{
                 background:url("../images/linkedin_hover.png") no-repeat left center;
            }
        }

         &.dribbble{
            background:url("../images/dribbble_normal.png") no-repeat left center;
            &:hover{
                 background:url("../images/dribbble_hover.png") no-repeat left center;
            }
        }

    }

}

div.footer{
    font-size: 10pt;
    text-align: center;
    margin-top: 20px;
}


