        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  
        <div >
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="row">
                        <div class="logo col-xl-4 col-md-4 col-sm-6 col-xs-12"></div>
                        <div id="nav-container" class="nav-container col-xl-8 col-md-8 col-sm-6 col-xs-12">
                        </div>
                       
                    </div>
                </div>
            </nav>
 
            <div id="app"  class="container">
                <div id="projects" class="row section"></div>
                <div id="skills" class="row section">
                    <h1>My Skillz </h1>
                    <div id="download-resume">
                        <a href="http://localhost:3000/static/olga-resume.pdf" target="_blank">Download CV</a> to see full list of skills.
                    </div>
                    <div id="legend" class="col-xl-4 col-md-4 col-sm-4 col-xs-12"></div> 
                    <div id="sequence" class="col-xl-8 col-md-8 col-sm-8 col-xs-12"></div>
                    <div id="sunburst">
                       
                    </div>
                </div>
                <div id="contacts" class="row section">
                    <h1>Hi there...</h1>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <img src="../images/Me.png" alt="photos of Olga" class="olga-img img-circle">
                        </div>
                    <div class="personal-info col-md-5 col-sm-12 col-xs-12">
                        <p>
                        Hi. I am a User Experience Strategist at Enlighten, a Digital Marketing agency in Ann Arbor, Michigan. I graduated from the University of Michigan with a Master of Science in Information. I began my career developing software at the European Organization for Nuclear Research (CERN) in 2009, where I first learned the importance of user experience in software design. Following my newfound passion for usability and information architecture, I've spent the last three years discovering myself as a User Experience Designer.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="facebook" href="http://www.facebook.com/olist4e" alt="Link to facebook" ></a>
                        <a class="linkedin" href="http://www.linkedin.com/pub/olga-hollingsworth/17/b19/25b" alt="Link to LinkedIn" ></a>
                        <a class="dribbble" href="http://dribbble.com/olga-hollingsworth" alt="Link to dribbble" ></a>
                        <a class="twitter" href="http://www.twitter.com/olist4e" alt="Link to twitter" ></a>
                        <address><p>
                            Olga Hollingsworth <br/>
                            Ann Arbor, Michigan<br />
                            olist4e at gmail . com
                            </p>
                        </address>
                    </div>
                </div>

                <div class="footer">
                Copyright@2015 Olga Hollingsworth
                </div>
            </div>

            


        </div>
        

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        {{#if development}}
        <script src="http://localhost:9000/scripts/app.js"></script>
        {{else}}
        <script src="scripts/app.js"></script>
        {{/if}}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-30689701-1', 'ohworth.com');ga('send','pageview');
        </script>

 
